.card {
      
    text-align: justify; 
    background-color: #fcf7f7;
  }

  .containeri {
    margin-left: 40px;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .cardi {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    text-align: justify;
  }
  
  .cardi-text{

    color: rgb(238, 173, 200);
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 60px;
    text-align: justify;
  }
  .cardi:not(:first-child) {
      margin-left: -50px;
  }
  
  .cardi:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .cardi:hover ~ .cardi {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  