{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="card mb-3">
    <img class="card-img-top" src="https://source.unsplash.com/J59wWPn09BE/400x100" alt="Card image cap">
    <div class="card-body">
      <b><h3 style="font-family:Garamond" class="card-title">About Us...</h3></b>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero assumenda molestias nemo, sed iusto autem ex porro eum, ipsam sint labore cum voluptates placeat quidem, modi optio aliquid eaque ea neque. Maxime facere deserunt esse obcaecati quam expedita corrupti itaque temporibus tenetur cupiditate laudantium ducimus reprehenderit, exercitationem totam rem libero quaerat. Incidunt, expedita voluptate ex mollitia, explicabo illum facilis, praesentium sed aperiam iusto ab minima cupiditate atque quis non id sint temporibus aut aspernatur beatae possimus? Quod quo ad consectetur ex, excepturi nesciunt ab repudiandae voluptates atque neque est repellat hic eos rem dolor magnam mollitia, quidem, commodi voluptatum? Error.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
 
{% endblock body %}
