{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<style>
  .card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  }
</style>
<div class="card-deck my-4">
  <div class="card">
    <img class="card-img-top" src="https://source.unsplash.com/pPxhM0CRzl4/1200x900" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Head Office</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://source.unsplash.com/HDni3NHd_JY/1200x900" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Regional Office</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://source.unsplash.com/IYLL5obdJhY/1200x900" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Staff</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<b>
  <h4 class="text-center">Contact Us</h4>
</b>

<div class="container mb-3 py-4">
  <form method="post" action="/contact">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
      <label for="mobno">Mobile No.</label>
      <input type="mobno" class="form-control" id="mobno" name="mobno" placeholder="Enter Your Mobile No.">
    </div>
    <div class="form-group">
      <label for="desc">Tell me what you want to contact for...?</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

{% endblock body %}