{% extends 'base.html' %}

{% block title %}Explore{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/expStyles.css">
<script src="/static/new.js"></script>

<div class="card bg-dark text-white">
    <img src="https://source.unsplash.com/iSYYLt2rKac/1200x400" class="card-img" alt="...">
    <div class="card-img-overlay">
        <br><br>
        <h3 class="card-title">Explore, Imagine & make it Reality</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia fugit libero autem iure
            temporibus, quas natus vitae, quaerat optio illum facere assumenda porro sint totam?</p>

    </div>
</div>
<div class="container my-4">
<p id="demo" ></p>

<script type="text/javascript">
    typeWriter()
</script>
</div>



<div class="container my-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3 border border-secondary" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://source.unsplash.com/iMBBagKV6tc/1200x1800" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Black Hole</h4>
                            <p class="card-text">A black hole is a place in space where gravity pulls so much that even light can not get out. The gravity is so strong because matter has been squeezed into a tiny space. This can happen when a star is dying.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card mb-3 border border-secondary" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://source.unsplash.com/3DzrAXPTp2c/1200x1800" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Multiverse</h4>
                            <p class="card-text">The multiverse is a term that scientists use to describe the idea that beyond the observable universe, other universes may exist as well.The multiverse is a hypothetical group of multiple universes. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3 border border-secondary" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://source.unsplash.com/nRAOQdF4IM4/1200x1800" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Big Bang Theory</h4>
                            <p class="card-text">The Big Bang theory describes how the universe expanded from an initial state of high density and temperature.Most astronomers use the Big Bang theory to explain how the universe began.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card mb-3 border border-secondary" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://source.unsplash.com/ASM_rxhmhzo/1200x1800" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Interstellar Travel</h4>
                            <p class="card-text" >Interstellar travel refers to the idea of interstellar probes or crewed spacecraft moving between stars or planetary systems in a galaxy. Interstellar travel would be much more difficult than interplanetary spaceflight.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container my-4">
    <h2>Some Space Orgnizations...</h2>
</br>
</div>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
  </head>
  <body>
    <div class="row">
        <div class="col-sm-9">
  <div class="containeri ">
    
    <div class="cardi">
      <h3 class="title">ISRO</h3>
      <p class="cardi-text">The Indian Space Research Organisation (ISRO) is the national space agency of India, headquartered in Bangalore.It has sent two missions to the Moon and one to Mars.</p>
      
     
    </div>
    <div class="cardi">
      <h3 class="title">NASA</h3>
      <p class="cardi-text">The National Aeronautics and Space Administration (NASA) is an independent agency of the US federal government responsible for the civil space program, aeronautics & space research.</p>
     
    </div>
    <div class="cardi">
      <h3 class="title">RFSA</h3>
      <p class="cardi-text">The State Space Corporation "Roscosmos", is a state corporation of the Russian Federation responsible for space flights, cosmonautics programs, and aerospace research</p>
      
    </div>
    <div class="cardi">
      <h3 class="title">JAXA</h3>
      <p class="cardi-text">The Japan Aerospace Exploration Agency (JAXA) ("National Research and Development Agency on Aerospace Research and Development") is the Japanese national air and space agency.</p>
      
    </div>
  </div>
</div>
  
<div class="col-sm-3">
    
  <img src="/static/img/astronaut.png" alt="Italian Trulli" width="200" height="300">
</div>

</div>
<br><br>
</body>
{% endblock body %}