{% extends 'base.html' %}

{% block title %}GeneLab{% endblock title %}

{% block body %}


<div>
    <br>
    <center> <h3><b>GeneLab Data Repository Search</b></h3></center>
   
    <br>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 16rem; height: 56rem;">
                <img src="../static/img/danio.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Danio Rerio</h5>
                  <p class="card-text">Ionizing radiation is known to cause DNA damage, yet the mechanisms underlying potential transgenerational effects of exposure have been scarcely studied. Previously, we observed effects in offspring of zebrafish exposed to gamma radiation during gametogenesis.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Factors: Ionizing, Radiation, Generation</li>
                  <li class="list-group-item">Assay Types: DNA methylation profiling</li>
                  <li class="list-group-item">Release Date: 31-Aug-2023</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 16rem; height: 56rem;">
                <img src="../static/img/arbidopsis.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Arabidopsis thaliana</h5>
                  <p class="card-text">Previous studies have found indications that exposure to ionising radiation (IR) results in DNA methylation changes in plants. However, this phenomenon is yet to be studied across multiple generations. Furthermore, the exact role of these changes in the IR-induced plant response is still far from understood. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Factors: Generation, Ionizing Radiation</li>
                  <li class="list-group-item">Assay Types: DNA methylation profiling</li>
                  <li class="list-group-item">Release Date: 31-Jan-2021</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 16rem; height: 56rem;">
                <img src="../static/img/mus.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mus musculus</h5>
                  <p class="card-text">The objective of the Rodent Research-23 missions (RR-23) was to better understand the effects of spaceflight on the eyes. To this end, twenty male, 16-17 weeks-old mice were delivered to the ISS on SpaceX-21 in a single transporter, transferred to two rodent habitats, and maintained in microgravity for 38 days.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Factors: Ionizing, Radiation, Generation</li>
                  <li class="list-group-item">Assay Types: DNA methylation profiling</li>
                  <li class="list-group-item">Release Date: 31-Aug-2023</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>

<br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 16rem; height: 56rem;">
                <img src="../static/img/danio.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Danio Rerio</h5>
                  <p class="card-text">Ionizing radiation is known to cause DNA damage, yet the mechanisms underlying potential transgenerational effects of exposure have been scarcely studied. Previously, we observed effects in offspring of zebrafish exposed to gamma radiation during gametogenesis.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Factors: Ionizing, Radiation, Generation</li>
                  <li class="list-group-item">Assay Types: DNA methylation profiling</li>
                  <li class="list-group-item">Release Date: 31-Aug-2023</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 16rem; height: 56rem;">
                <img src="../static/img/arbidopsis.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Arabidopsis thaliana</h5>
                  <p class="card-text">Previous studies have found indications that exposure to ionising radiation (IR) results in DNA methylation changes in plants. However, this phenomenon is yet to be studied across multiple generations. Furthermore, the exact role of these changes in the IR-induced plant response is still far from understood. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Factors: Generation, Ionizing Radiation</li>
                  <li class="list-group-item">Assay Types: DNA methylation profiling</li>
                  <li class="list-group-item">Release Date: 31-Jan-2021</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 16rem; height: 56rem;">
                <img src="../static/img/mus.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mus musculus</h5>
                  <p class="card-text">The objective of the Rodent Research-23 missions (RR-23) was to better understand the effects of spaceflight on the eyes. To this end, twenty male, 16-17 weeks-old mice were delivered to the ISS on SpaceX-21 in a single transporter, transferred to two rodent habitats, and maintained in microgravity for 38 days.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Factors: Ionizing, Radiation, Generation</li>
                  <li class="list-group-item">Assay Types: DNA methylation profiling</li>
                  <li class="list-group-item">Release Date: 31-Aug-2023</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>


    </div>
</div>



{% endblock body %}