{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="/static/new.js"></script>

<div class="container-fluid my-4">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://source.unsplash.com/0o_GEzyargo/600x200" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Explore Space</h5>
          <p>Explore Space</p>
          <a href="/explore" class="btn btn-success" role="button">View More</a>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://source.unsplash.com/Q1p7bh3SHj8/600x200" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Spaceflight</h5>
          <p>Learn Whant is Spaceflight its working and more</p>
          <a href="/risk" class="btn btn-success" role="button">View More</a>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://source.unsplash.com/jgt81f_UDuU/600x200" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>NASA's Space Biology Program</h5>
          <p>Know What is NASA's Space Biology Program</p>
          <a href="/risk" class="btn btn-success" role="button">View More</a>

        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://source.unsplash.com/ct10qdGv1hQ/600x200" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Explore Organisms of Space</h5>
            <p>Know about space organisms there features and many more </p>
            <a href="/risk" class="btn btn-success" role="button">View More</a>

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>
  <!-- <div class="typewriter text-center">
  <h3><b>Lets Explore Every Field of Space.....</b></h3>
</div> -->
  <div class="typewriter text-center">
    <h3><b>Space Biology Super Hero</b></h3>
    
    <br><br>
    <center>
    <div class="cardi mb-3" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../static/spaceHero.PNG" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="cardi-body">
            
            <p class="cardi-text">It’s a classic superhero tale: Inconspicuous, underestimated, our hero is revealed to have powers beyond imagination! The hottest and coldest environments on Earth, decades without water, the powerful radiation of space – none of it is any match for…the tardigrade!</p>
    
          </div>
        </div>
      </div>
    </div>
  </center>
<br><br>
  <h3><b>NASA's Research on Space Biology Superhero</b></h3>
  </div>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow ">
          <img class="d-block w-100" src="https://source.unsplash.com/8_C1mNcgWiQ/1200x900" alt="...">
          <div class="card-body">
            <p class="card-text text-dark"><b>Risks</b></p>
            <p class="card-text">Know Everything about Different types Risks in space flights</p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" href="/risk.html" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-success">Edit</button>
              </div> -->
              <a href="/risk" class="btn btn-success" role="button">View More</a>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow ">
          <img class="d-block w-100" src="https://source.unsplash.com/-ru-WEZmA4Q/1200x900" alt="...">
          <div class="card-body">
            <p class="card-text"><b>Hazards</b></p>
            <p class="card-text">Know Everything about 5 Hazards of the Human Space flights</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/hazard" class="btn btn-success" role="button">View More</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow ">
          <img class="d-block w-100" src="https://source.unsplash.com/13UugSL9q7A/1200x900" alt="...">
          <div class="card-body">
            <p class="card-text"><b>GeneLab</b></p>
            <p class="card-text">Know Everything about GeneLab Data Repository Search </p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/genelab" class="btn btn-success" role="button">View More</a>

            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <center>
    <h3><b>NASA's Space Biology Program</b></h3>
    <br>
  </center>

 <center>
    <div class="cardi mb-3 border border-secondary" style="max-width: 900px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://source.unsplash.com/iMBBagKV6tc/500x400" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title"><b>NASA's Space Biology Program</b></h4>
                    <p class="card-text">NASA's Space Biology Program aims building a better understanding of how spaceflight affects living systems in spacecraft such as the International Space Station (ISS), or in ground-based experiments that mimic aspects of spaceflight, and to prepare for future human exploration missions far from Earth. </p>
                    <button type="button" class="btn btn-success">View More</button>
                </div>
            </div>
        </div>
    </div>
  </center>


  {% endblock body %}