{% extends 'base.html' %}

{% block title %}Risk{% endblock title %}

{% block body %}
<div>
    <br>
    <center><h2><b>Risks in Space</b></h2></center>
    <br>
</div>
<div class="container my-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow ">
          <img class="d-block w-100" src="https://source.unsplash.com/8_C1mNcgWiQ/1200x900" alt="...">
          <div class="card-body">
            {% comment %} <p class="card-text text-dark"><b>Risks</b></p> {% endcomment %}
            <p class="card-text">Risk of Adverse Health Event Due to Altered Immune Response
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- <div class="btn-group">
                <button type="button" href="/risk.html" class="btn btn-sm btn-outline-primary">View</button>
                <button type="button" class="btn btn-sm btn-outline-success">Edit</button>
              </div> -->
              <a href="/risk" class="btn btn-success" role="button">View More</a>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow ">
          <img class="d-block w-100" src="https://source.unsplash.com/-ru-WEZmA4Q/1200x900" alt="...">
          <div class="card-body">
            <p class="card-text">Risk of Adverse Health Effects Due to Host-Microorganism Interactions
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/risk" class="btn btn-success" role="button">View More</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow ">
          <img class="d-block w-100" src="https://source.unsplash.com/13UugSL9q7A/1200x900" alt="...">
          <div class="card-body">
            
            <p class="card-text">Risk of Bone Fracture due to Spaceflight-induced Changes to Bone</p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/risk" class="btn btn-success" role="button">View More</a>

            </div>
          </div>
        </div>
      </div>
     
    </div>


    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow ">
            <img class="d-block w-100" src="https://source.unsplash.com/8_C1mNcgWiQ/1200x900" alt="...">
            <div class="card-body">
              
              <p class="card-text">Risk of Injury from Dynamic Loads</p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <button type="button" href="/risk.html" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-success">Edit</button>
                </div> -->
                <a href="/risk" class="btn btn-success" role="button">View More</a>
                
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-4 box-shadow ">
            <img class="d-block w-100" src="https://source.unsplash.com/-ru-WEZmA4Q/1200x900" alt="...">
            <div class="card-body">
              
              <p class="card-text">Risk of Renal Stone Formation</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/risk" class="btn btn-success" role="button">View More</a>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow ">
            <img class="d-block w-100" src="https://source.unsplash.com/13UugSL9q7A/1200x900" alt="...">
            <div class="card-body">
              
              <p class="card-text">Risk of Radiation Carcinogenesis</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/risk" class="btn btn-success" role="button">View More</a>
  
              </div>
            </div>
          </div>
        </div>
       
      </div>
  </div>
{% endblock body %}