{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}


<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" href="#">Sattelite Infos...</a>
    <ul class="nav nav-pills">
      
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">First</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Second</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#scrollspyHeading3">Third</a>
          <a class="dropdown-item" href="#scrollspyHeading4">Fourth</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#scrollspyHeading5">Fifth</a>
        </div>
      </li>
      
     
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <h4 id="scrollspyHeading1">First heading</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum autem porro officiis voluptates nihil perspiciatis molestias inventore nemo saepe incidunt doloremque fugit minus enim consequuntur corrupti necessitatibus error eos, illo quae amet quas cupiditate. Dicta eius doloribus odio tenetur et cumque harum cum adipisci inventore minima vitae repellendus unde, voluptates placeat cupiditate? Qui porro repellat voluptate debitis saepe obcaecati, laudantium temporibus velit maiores in incidunt aliquid provident? Alias distinctio voluptatem placeat tempore voluptatum, adipisci fugit quibusdam est ipsam sit quas numquam praesentium officia ut illo expedita quia eaque optio iusto! Voluptatum odit ab nostrum, minus amet accusamus qui ipsa eos.</p>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut non magnam enim nam, eveniet incidunt voluptatem delectus soluta. Fugiat accusamus iure, blanditiis voluptate minus rem tempore expedita quae a voluptatum tenetur facere maxime veritatis qui nemo animi eos officiis quod suscipit architecto ratione placeat? Maxime, aliquid hic! Nihil, iste eum possimus quaerat doloremque aliquid voluptas sint unde tenetur officia? Voluptas iure, ut voluptate ad explicabo illo accusamus. Quis nulla placeat nam officiis similique, adipisci doloribus labore ut perferendis in beatae incidunt ab earum enim repudiandae ipsa maxime autem quae sed ea eos? Culpa qui ad quis reprehenderit, quas amet ipsum!</p>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt nobis a earum, at excepturi magnam! Ducimus error reprehenderit perferendis reiciendis sequi exercitationem pariatur? Ipsa explicabo quasi error id, vero est porro nulla quisquam ipsam blanditiis nobis sequi! Commodi at, atque iure obcaecati quo quasi ullam molestias quaerat ad, non nulla minus vero id incidunt deleniti labore nostrum rem facilis veritatis illo quod amet beatae. Dolorem soluta explicabo dolores ipsam magni molestiae, quibusdam harum officiis sint voluptatum facilis et. Odio debitis accusantium error adipisci aspernatur assumenda facilis dolorum praesentium delectus fugit nam nihil, nulla, laborum autem, itaque libero sapiente suscipit?</p>
    <h4 id="scrollspyHeading4">Fourth heading</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati optio assumenda officia fugiat sequi necessitatibus voluptatem aut accusantium earum id distinctio tempore aliquid fuga in molestias, velit excepturi non repudiandae perferendis quam voluptates iste corporis saepe deleniti? Doloremque pariatur optio, expedita quo dolores labore asperiores dolore sequi aspernatur illo maxime quia, corporis ut illum numquam eaque repellat omnis obcaecati ea officia quasi, vitae sed. Error eaque magnam, modi, iure in odio molestiae dolores, unde ut tenetur dicta ab iusto culpa ipsam odit molestias minus delectus aliquam amet expedita sapiente possimus? Voluptates, atque illo. Ratione quos eos ipsum distinctio obcaecati soluta.</p>
    <h4 id="scrollspyHeading5">Fifth heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus et earum at qui voluptates perferendis, nisi nulla quos dolores eum quisquam! Eum voluptatibus nobis quisquam autem sed vitae fugit et sapiente earum minima aliquam, repellat inventore animi deserunt libero iure magni similique dicta laborum ea? Tempora, enim. Dolorem dolores accusamus facilis ab deserunt quam debitis ullam consequuntur adipisci, provident dicta illum qui hic vitae laudantium laborum, consequatur cumque natus fugit. Fuga repudiandae corporis odit odio quos porro rem harum natus asperiores, nulla consequuntur fugit libero vero voluptatum, expedita, nam nihil. Cupiditate tenetur molestias inventore repellat pariatur laudantium fugit earum neque.</p>
  </div>
{% endblock body %}
